### Import dependencies

In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect,Column, Integer, String, Float
import matplotlib.pyplot as plt
import scipy.stats as sts
import numpy as np
import pandas as pd
import os
import math

# Imports the methods needed to abstract python classes into database tables
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

#from config import db_user, dialect

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://localhost:5432/Employees_DB')
connection = engine.connect()

### Create database connection

In [4]:
# variables to populate the database connection string
db_user = 'postgres'
db_password = 'berly93!'
db_host = 'localhost'
db_port = 5432

# This database must already exist
db_name = "Employees_DB"

engine = create_engine(f"postgres://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

### Create a "Metadata" layer that abstracts our SQL database

In [5]:
Base.metadata.create_all(engine)

### Create a *Session* object to connect to DB

Creating a session opens up a communication pathway between our code and the database.

In [6]:
session = Session(bind=engine)

In [8]:
emp_sal_title_df = pd.read_sql("select e.emp_no, e.last_name, e.first_name, t.title , s.salary from employees as e join salaries as s on e.emp_no = s.emp_no join titles as t on t.title_id = e.emp_title_id", engine)

emp_sal_title_df.head()

   emp_no  last_name first_name         title  salary
0   10005   Maliniak    Kyoichi         Staff   78228
1   10010   Piveteau  Duangkaew      Engineer   72488
2   10011      Sluis       Mary         Staff   42365
3   10013     Terkki  Eberhardt  Senior Staff   40000
4   10017  Bouloucos  Cristinel         Staff   71380

### Once you're finished communicating with the database, it's good practice to close the communication pathway

In [ ]:
session.close()